
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#mensagem {
    margin-top: 20px;
}

#logoairbnb {
    width: 150px;
}

#logo {
    margin-left: 6rem;
}

.nav {
    padding-top: 15px;
}